body {
  background-color: AliceBlue;
   font-family: "Lucida console", 'Courier New', Courier, monospace;
}

h1{
  border: 30px solid rgb(191, 232, 248);
  background-color: rgb(191, 232, 248);
  text-align: center;
}

nav{
  float: left;
  width: 10%;
  height: 700px;
  background: rgb(191, 232, 248);
  padding: 20px;
}

ul {
  list-style-type: none;
  margin-left: -20px
}

article{
  text-align: justify
}

h2 {
  text-align: justify;
  margin-left: 250px
}

h3{
  margin-left: 250px
}

